<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="FreshStart"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MCO3"
        tools:targetApi="31">
        <activity
            android:name=".activity.ui.learn.essential.EssentialActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ui.learn.style.StyleActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ui.learn.body.BodyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ui.learn.detail.DetailActivity"
            android:exported="false"
            android:theme="@style/Theme.MCO3" />
        <activity
            android:name=".activity.ui.learn.face.FaceActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ui.learn.LearnActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Declaration for LoginActivity -->
        <activity android:name=".activity.LoginActivity" />
        <!-- Declaration for RegisterActivity -->
        <activity android:name=".activity.RegisterActivity" />
        <activity
            android:name=".activity.UserProfileActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity.DashboardActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity.NotificationActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".navbar.BottomNavbarHelper"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity.UpdateSleepActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity.UpdateBrushActivity"
            android:exported="true">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- Firebase Messaging Service -->
        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/blue_font" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="notify" />
    </application>

</manifest>
